*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    /* background-color:#1A202C; */
    /* background-image: radial-gradient(at top right, #252525 0%, #111111 46%); */
    background-color: #111111;
}
h1{
    font-family: 'Open Sans', sans-serif;
}
b{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'Playfair', serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(at top right, #252525 0%, #111111 46%);
}
.logo{
    margin-right: 500px;
}
.menu a{
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}
.menu a:hover{
    color: white;
}
.main1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(at top right, #252525 0%, #111111 46%);
}
.con1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 50px;
}
.bold1{
    font-size: larger;
    color: red;
}
.bold2{
    font-size: xx-large;
    color: white;
    margin-bottom: 10px;
}
.con1 p{
    width: 300px;
    color: white;
    margin-bottom: 15px;
}
.con1 button{
    width: 130px;
    height: 40px;
    background-color: red;
    color: white;
    
}
.main2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #25252565 50%, #111111 50%);
    height: 400px;
}
.con2a, .con2b, .con2c{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #252525;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}
.main2 p{
    width: 250px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.main2 a{
    color: red;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
}
.main2 b{
    color: white;
    margin-top: 15px;
    margin-left: 20px;
}
.main2 img{
    margin-left: 20px;
}
/* .con2a:hover{
    background-color: red;
}

.con2b:hover{
    background-color: red;
}

.con2c:hover{
    background-color: red;
} */
.bolu{
    visibility: hidden;
}
.nuhu{
    background-color: red;
}

.main3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 80px; */
    background: linear-gradient(90deg, #25252565 50%, #111111 50%);
    height: 300px;
}
.con3a{
    margin-left: 50px;
}
.con3b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.con3bi, .con3bii, .con3biii, .con3biv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    width: 300px;
}
.con3b11, .con3b12{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}
.main3 b{
    color: red;
    
}
.con3a b{
    font-size: 80px;
    margin-left: 70px;
}
.con3a p{
    color: white;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}
.con3b b{
    font-size: x-large;
}
.con3b p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}
.main4{
    /* background: linear-gradient(180deg,#111111  65%, #25252565 35%); */
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.con4a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    background-color: #111111;
}
.con4ai{
    margin-right: 550px;
    color: white;

}
.con4ai b{
    font-size: 30px;
}
.con4aii button{
    background-color: red;
    color: white;
    width: 150px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
}
.con4b{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.con4b img{
    width: 400px;
    height: 300px;
}
.con4bi, .con4bii{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    width: 500px;
    height: 350px;
    background-color: #252525;
    margin-top: 20px;
}
.con4c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.con4ci, .con4cii{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 450px;
}
.con4ci a, .con4cii a{
    color: red;
    text-decoration: none;
}
.con4ci b, .con4cii b{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.con4d{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.con4d img{
    width: 400px;
    height: 300px;
}
.con4di, .con4dii{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    width: 500px;
    height: 350px;
    background-color: #252525;
    margin-top: 20px;
}
.con4e{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    width: 1050px;
    height: 300px;
    margin-right: 50px;
    margin-top: 150px;
    /* margin-bottom: 400px; */
}
.con4ei{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 300px;
}
.con4ei b{
    color: white;
    font-size: 40px;
    width: 450px;
}
.con4ei p{
    color: grey;
    width: 450px;
    margin-top: 10px;
}
.con4eii button{
    color: white;
    background-color: red;
    height: 40px;
    width: 130px;
}
.con4f{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.con4fi, .con4fii{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 440px;
}
.con4fi a, .con4fii a{
    color: red;
    text-decoration: none;
}
.con4fi b, .con4fii b{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.axel{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #25252565 65%, #111111 35%);
    margin-top: -300px;
}
footer{
    background-color: #252525;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.contact{
    margin-right: 100px;
}
.img-fot{
    margin-left: 100px;
}
.mail{
    margin-left: 200px;
    color: white;
    font-size: large;
}
